/* ContactUs.css */

.contact-container {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.contact-info {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: left; /* Align items horizontally */
  margin-top: 0px;
}

.contact-item {
  display: flex;
  align-items: center; /* Align items horizontally */
  margin-bottom: 10px; /* Adjust spacing between items */
}

.icon {
  font-size: 2rem;
  margin-right: 10px; /* Add margin between icon and text */
  color: #333; /* Adjust color as needed */
}

.icon:hover {
  color: #007bff; /* Change color on hover */
}

span {
  font-size: 1rem; /* Adjust font size of text */
  display: inline-block; /* Display text inline with icons */
}
